In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv(rf'D:\DS_Work\Projects\Student Performance\notebooks\data\Student_Performance.csv')
df.head()

,Hours Studied,Previous Scores,Extracurricular Activities,Sleep Hours,Sample Question Papers Practiced,Performance Index
0,7,99,Yes,9,1,91.0
1,4,82,No,4,2,65.0
2,8,51,Yes,7,2,45.0
3,5,52,Yes,5,2,36.0
4,7,75,No,8,5,66.0

In [3]:
categorical_columns = df.columns[df.dtypes == 'O']
numerical_columns = df.columns[df.dtypes != 'O']


def correlated_features(df_corr, thresh):
    coll = set()

    for i in range(len(df_corr.columns)):
        for j in range(0, i):
            if abs(df_corr.iloc[i, j]) >= thresh:
                coll.add(df_corr.columns[i])

    return coll

columns_to_drop = correlated_features(df[numerical_columns].iloc[:,:-1].corr(), 0.95)

df = df.drop(columns=list(columns_to_drop))

In [6]:
df[numerical_columns].drop(columns=['Hours Studied'])

,Previous Scores,Sleep Hours,Sample Question Papers Practiced,Performance Index
0,99,9,1,91.0
1,82,4,2,65.0
2,51,7,2,45.0
3,52,5,2,36.0
4,75,8,5,66.0
...,...,...,...,...
9995,49,4,2,23.0
9996,64,8,5,58.0
9997,83,8,5,74.0
9998,97,7,0,95.0
9999,74,8,1,64.0

In [44]:
from sklearn.preprocessing import LabelEncoder

encoder=LabelEncoder()

df['Extracurricular Activities'] = encoder.fit_transform(df['Extracurricular Activities'])

In [45]:
df

,Hours Studied,Previous Scores,Extracurricular Activities,Sleep Hours,Sample Question Papers Practiced,Performance Index
0,7,99,1,9,1,91.0
1,4,82,0,4,2,65.0
2,8,51,1,7,2,45.0
3,5,52,1,5,2,36.0
4,7,75,0,8,5,66.0
...,...,...,...,...,...,...
9995,1,49,1,4,2,23.0
9996,7,64,1,8,5,58.0
9997,6,83,1,8,5,74.0
9998,9,97,1,7,0,95.0
9999,7,74,0,8,1,64.0